<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="kinematics_config" default="$(find ur10e_description)/src/config/ur10e_default.yaml"/>
  <arg name="two_finger_gripper" default="$(find ur_configuration)/eef_description/grip.urdf.xacro"/>

  <param unless="$(arg limited)" name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find ur10e_description)/src/urdf/ur10e_robot.urdf.xacro'
      transmission_hw_interface:=$(arg transmission_hw_interface)
      kinematics_config:=$(arg kinematics_config)
      two_finger_gripper:=$(arg two_finger_gripper)"
    />
  <param if="$(arg limited)" name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find ur10e_description)/src/urdf/ur10e_joint_limited_robot.urdf.xacro'
      transmission_hw_interface:=$(arg transmission_hw_interface)
      kinematics_config:=$(arg kinematics_config)"
    />
</launch>
