<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur10e_wg">


  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <!-- ur10e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur10e.urdf.xacro" />
  
  <xacro:property name = "prefixx" default=""/>
  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find ur_description)/config/ur10_default.yaml"/>
  <xacro:ur10e_robot prefix="${prefixx}" joint_limited="false"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
  />


  <xacro:include filename="$(find gripper_pkg)/urdf/full_gripper.urdf.xacro" />
  <!-- gripper connection on robot arm -->
  <joint name="gripper_mount" type="fixed">
    <parent link="${prefixx}wrist_3_link"/>
    <child link="grip_body"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.785"/> 
  </joint>

  <!-- base frame-->
  <link name="world"/>

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0 0 3.14159" />
  </joint>

</robot>
