<?xml version="1.0"?>


<launch>
    <arg name="robot_ip" default="172.31.1.26"/>
    <arg name="kinematics_config" default="$(find ur_configuration)/kinematic_config/kinematics_config.yaml"/>
    <arg name="limited" default="true"/>
    <arg name="config" default="true"/>
    <arg name="use_tool_communication" default="true" />
    
    <!-- launch controller interface--> 
    <include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch" >
        <arg name="robot_ip" value="$(arg robot_ip)"/>
        <arg name="kinematics_config" value="$(arg kinematics_config)"/>
        <arg name= "use_tool_communication" value="$(arg use_tool_communication)" />
        <arg name= "tool_voltage" value="24.0" />
    </include>
    
    <!-- launch moveit planning execution-->
    <remap from="arm_controller/follow_joint_trajectory" to="scaled_pos_joint_traj_controller/follow_joint_trajectory"/>
    <include file="$(find ur10e_grip_moveit_config)/launch/move_group.launch">
        <!--arg name="limited" value="$(arg limited)"/-->
    </include>

    <!-- launch moveit visualization RVIZ-->
    <include file="$(find ur10e_grip_moveit_config)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(arg config)"/>
    </include>

</launch>