<?xml version="1.0"?>


<launch>
    
    <arg name="kinematics_config" default="$(find ur_configuration)/my_config.yaml"/>
    <arg name="limited" default="true"/>
    <arg name="config" default="true"/>
    <arg name="sim" default="true"/>
    <arg name="gui" default="true"/>
    
    <include file="$(find ur_gazebo)/launch/ur10.launch">
        <arg name="gui" value="$(arg gui)"/>
    </include>
        
    
    <!-- launch moveit planning execution-->
    <include file="$(find ur10_e_moveit_config)/launch/ur10_e_moveit_planning_execution.launch">
        <arg name="limited" value="$(arg limited)"/>
        <arg name="sim" value="$(arg sim)"/>
    </include>

    <!-- launch moveit visualization RVIZ-->
    <include file="$(find ur10_e_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="$(arg config)"/>
    </include>

</launch>