<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="transmission_ext">
       <transmission name="slide_right_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="slide_right">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="slide_right_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

        <transmission name="slide_left_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="slide_left">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="slide_left_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

</robot>